:root{
    --bgcolor:#6cbeb3;
    --accentcolor: #c7d2d3;
    --secaccentcolor:#93969b;
    --text: #e4e4e4;
}

@viewport {
    width: device-width;
}

@font-face{
    font-family: Kenney;
    src: url(fonts/Kenney\ Mini.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    cursor: url('/images/pointer1.png'), auto; 
    /* from https://megabyte-games.itch.io/mouse-cursor-pack?download 
    free license*/
    background-color: var(--bgcolor);
    font-family: kenney;
}

body>a:hover{
    cursor: url('/images/click1.png'), auto;
    /* from https://megabyte-games.itch.io/mouse-cursor-pack?download 
    free license*/
}

nav{
    margin: 10%;
}
header{
    position: relative;
    padding: 20px;
    width: 80%;
    height: 300px;
    

    border-radius: 25px;
    background: rgb(26,58,120);
    background: linear-gradient(90deg, rgba(26, 57, 120, 0.788) 0%, rgba(108,190,179,0) 25%);

}

header>img{
    width: 300px;
    height: 300px;
}

header >h1{
    font-size: 60px;
    color: var(--text);

    padding: 0px;
    margin: 0px;

    position: relative;    
    top: -60%;
    left: 45%;
}

header>h1~h2{
    font-family: kenney;
    color: var(--text);
    font-size: 40px;

    margin: 0px;

    position: relative;    
    top: -60%;
    left: 45%;
}


#folders{
    /* Keeps vertical centering on folders*/
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
}

figure {
    /* keeps horizontal centering on folders */
    margin: 0;
    position: relative;
    top: 50%;
    bottom: auto;

}
footer {
    position: fixed;
    height: 150px;
    background-color: var(--accentcolor);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    box-shadow: 0px -3px white;
}

footer>p, #clock{
    background-color:var(--secaccentcolor);
    font-size: 50px;
    text-align: center;
    margin-left: .7%;
    padding: 1%;
    width: 150px;


    box-shadow: 2px 2px black, -2px -2px white;
}

footer>p{
    position: absolute;
    left: 10px;
    bottom: 0px;
    padding: 0px;
}

#clock{
    position: absolute;
    right: 10px;
    bottom: 0px;
    padding: 0px;
}

#container{
    position: absolute;
    right: .7%;
    bottom: 3px;
}

#clipee{
    position: absolute;
    right: 0;
    bottom: 10%;

}

img{
    width: 600px;
    height: auto;
}

figure{
    position: relative;
    top:500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#ClipeeTalk{
    font-size: 27px;
    position: absolute;
    color: black;
    text-align: center;

    background-color: #e0debf;
    border-radius: 15px;
    width: 60%;
    height:10%;

    padding: .5%;
    right: 10%;
    bottom: 21%;
}

#ClipeeTalk > h1{
    margin: 0px;
}

#ClipeeTalk:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 95%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #e0debf;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

#homepage > nav{ 
    font-size: 40px;
    text-align: center;
}
    
figure>img{
    height:300px;
    width: 300px;
}

#homepage> nav >figure {
    display: inline-block;
    text-align: center;
}

figcaption > a {
    text-align: center;
    margin-left: 40px ;
    margin-right: 40px;
    text-decoration: none;
    color: var(--text);
}

figure>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
        
        
}
header>img{
    box-shadow: 3px 3px black, -3px -3px white;
}

h1{
      height: 80px;
    line-height: 80px;
}


@media screen and (min-width: 1100px){

    
img{
    width: 300px;
    height: auto;
}
figure{
    margin-top: 50px;
    margin-bottom: 50px;
}

    header{
        position: relative;
        padding: 20px;
        width: 80%;
        height: 150px;
        
    
        border-radius: 25px;
        background: rgb(26,58,120);
        background: linear-gradient(90deg, rgba(26, 57, 120, 0.788) 0%, rgba(108,190,179,0) 25%);
    
    }
    
    header>img{
        height: 150px;
        width: 150px;
    }
    header >h1{
        font-size: 30px;
        color: var(--text);
    
        padding: 0px;
        margin: 0px;
    
        position: relative;    
        top: -120px;
        left: 180px;
    }
    
    header>h1~h2{
        font-family: kenney;
        color: var(--text);
        font-size: 20px;
    
        margin: 0px;
    
        position: relative;
        left: 180px;
        top: -145px;
    }
    
    footer {
        position: fixed;
        height: 60px;
        background-color: var(--accentcolor);
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        box-shadow: 0px -3px white;
    }

    footer>p, #clock{
        background-color:var(--secaccentcolor);
        font-size: 20px;
        text-align: center;
        margin-left: .7%;
        padding: .7%;
        width: 80px;
    
    
        box-shadow: 2px 2px black, -2px -2px white;
    }

    footer>p{
        position: absolute;
        left: 10px;
        bottom: 0px;
        padding: 0px;
    }
    
    #clock{
        position: absolute;
        right: 10px;
        bottom: 0px;
        padding: 0px;
    }

    #clipee{
        position: absolute;
        right: 0;
        bottom: 1.5em;
    }

    #ClipeeTalk{
        font-size: 18px;
        position: absolute;
        color: black;
        text-align: center;
    
        background-color: #e0debf;
        border-radius: 15px;
        width: auto;
        height:auto;
    
        padding: 1%;
        right: 10em;
        bottom: 10em;
    }

    nav{
        margin: 0px;
    }

}