:root{
    --bgcolor:#6cbeb3;
    --accentcolor: #c7d2d3;
    --secaccentcolor:#93969b;
    --text: #e4e4e4;
}

@viewport {
    width: device-width;
}

@font-face{
    font-family: Kenney;
    src: url(fonts/Kenney\ Mini.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    cursor: url('/images/pointer1.png'), auto; 
    /* from https://megabyte-games.itch.io/mouse-cursor-pack?download 
    free license*/
    background-color: var(--bgcolor);
}

body>a:hover{
    cursor: url('/images/click1.png'), auto;
    /* from https://megabyte-games.itch.io/mouse-cursor-pack?download 
    free license*/
}

header{
    position: relative;
    padding: 20px;
    width: 80%;
    height: 150px;
    

    border-radius: 25px;
    background: rgb(26,58,120);
    background: linear-gradient(90deg, rgba(26, 57, 120, 0.788) 0%, rgba(108,190,179,0) 25%);

}

header >h1{
    font-family: kenney;
    font-size: 30px;
    color: var(--text);

    padding: 0px;
    margin: 0px;

    position: relative;    
    top: -120px;
    left: 180px;
}

header>h1~h2{
    font-family: kenney;
    color: var(--text);
    font-size: 20px;

    margin: 0px;

    position: relative;
    left: 180px;
    top: -145px;
}


#folders{
    /* Keeps vertical centering on folders*/
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
}

figure {
    /* keeps horizontal centering on folders */
    margin: 0;
    position: relative;
    top: 50%;
    bottom: auto;

}
footer {
    position: fixed;
    height: 60px;
    background-color: var(--accentcolor);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    box-shadow: 0px -3px white;
}

footer>p{
    font-family: kenney;
    margin-left: .7%;
    padding: .2%;
    width: 80px;
    background-color:var(--secaccentcolor);
    text-align: center;
    box-shadow: 2px 2px black, -2px -2px white;
}

footer>p~p{
    position: absolute;
    right: .7%;
    bottom: 0;
}

#clipee{
    position: absolute;
    right: 0;
    bottom: 40px;
}

#ClipeeTalk{
    position: absolute;
    font-family: kenney;
    color: black;
    text-align: center;

    background-color: #e0debfd5;
    border-radius: 15px;
    height:auto;
    width: 400px;
    padding: .5%;
    right: 200px;
    bottom: 200px;
}

#ClipeeTalk > h1{
    margin: 0px;
}

#ClipeeTalk:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 95%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #e0debfd5;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}


@media screen and (min-width: 1100px){
    #homepage > nav{ 
        font-size: 40px;
        text-align: center;
    }
    
    nav >img{
       height:100%;
    }

    #homepage> nav >figure {
        display: inline-block;
        text-align: center;
    }

    figcaption > a {
        text-align: center;
        font-family: Kenney;
        margin-left: 40px ;
        margin-right: 40px;
        text-decoration: none;
        color: var(--text);
    }

    figure>img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
        
    }
    header>img{
        width: 5%;
        height: 5%;
        box-shadow: 3px 3px black, -3px -3px white;
    }

    h1{
        height: 80px;
        line-height: 80px;
    }
}
/* @font-face{

} */