:root{
    --bgcolor:#EBC7E6;
    --accentcolor: #A084DC;
    --secaccentcolor:#645CBB;
}

@viewport {
    width: device-width;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--secaccentcolor);
}

header>h1{
    font-size: 25px;
    text-align: center;
}
/* @font-face{

} */